<!-- <owl-carousel-o [options]="owlOptions">
  <ng-template carouselSlide *ngFor="let phim of phimSapChieu">
    <div class="card">
      <img class="card-img-top" [src]="phim.hinhAnh" alt="" height="300px">
      <div class="card-body">
        <h4 class="card-title">{{phim.tenPhim}}</h4>
        <p class="card-text">{{phim.moTa | uppercase}}</p>
        <button class="btn btn-block btn-success" [routerLink]="['/chitiet', phim.maPhim]">Xem chi tiết</button>
      </div>
    </div>
  </ng-template>
</owl-carousel-o> -->


<div class="container phimSapChieu__container">
  <div class="row">
      <div class="col-sm-6 col-lg-3 phim__item" *ngFor="let phim of phimSapChieu" >
        <img class="card-img-top" [src]="phim.hinhAnh" alt="" width="100%" height="100%">
        <button class="btn btn-block btn-outline-light" [routerLink]="['/chitiet', phim.maPhim]">Xem chi tiết</button>
        <p class="phim__name">{{phim.tenPhim}}</p>
      </div>
  </div>
</div>