<div class="container-fluid py-4" style="margin-top: 100px;">
  <div class="row">
    <div class="col-md-8 col-lg-4">
      <div class="details">
        <p><span>Tên phim:</span> {{movieDetails?.tenPhim}}</p>
        <p><span>Tên rạp:</span>  {{movieDetails?.tenCumRap}} - {{movieDetails?.tenRap}}</p>
        <p><span>Địa chỉ:</span>  {{movieDetails?.diaChi}}</p>
        <p><span>Thời gian chiếu:</span> {{movieDetails?.gioChieu}}, {{movieDetails?.ngayChieu}}</p>
      </div>
    </div>
    <div class="col-md-12 col-lg-8">
      <app-trangdatghe [gheArray]="DanhSachGheNgoi" [maLichChieu]="movieDetails?.maLichChieu"></app-trangdatghe>
    </div>
  </div>
</div>
