<img [src]="ChiTietPhim?.hinhAnh" height="400px" width="250px" alt="">
<p class="lead">{{ChiTietPhim?.tenPhim}}</p>
<iframe width="600" height="400" [src]="ChiTietPhim?.trailer | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>

<h3>{{ChiTietPhim.lichChieu[0].thongTinRap.tenCumRap}}</h3>
<div class="container">
  <div class="row">
    <div class="col-2" *ngFor="let lichchieu  of ChiTietPhim?.lichChieu.slice(0,6)">
      <button class="btn btn-outline-success m-2" [routerLink]="['/datve', lichchieu.maLichChieu]" >
        {{lichchieu?.ngayChieuGioChieu | date:"dd/MM, hh:mm"}}
      </button>
    </div>
  </div>
</div>




