footer {
  color: white;
  .footer__top {
    padding-top: 15px;
    text-align: left;
    p {
      margin: 0;
      padding-left: 3px;
      border-left: 3px solid #a3270b;
      font-size: 1.3rem;
      font-weight: 500;
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        a {
          color: white;
          text-decoration: none;
          font-size: 0.7rem;
          font-weight: 300;
          transition: all 0.3s;
          &:hover{
            color: #a3270b;
          }
        }
      }
    }
    .icon__social, .icon__app{
      i{
        font-size: 0.8rem;
        margin-right: 5px;
        &:hover{
          color: #a3270b;
        }
      }
    }
    .icon__app{

    }
  }
  .footer__bottom {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    p{
      margin-left: 5px;
      span{
        color: #a3270b;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer{
    .footer__top{
      p{
        font-size: 1.1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  footer{
    .footer__top{
      p{
        font-size: 1.1rem;
      }
    }
    .footer__bottom{
      img{
        width: 50px !important;
        height: 50px !important;
      }
      p{
        margin: 0;
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width: 362px){
  footer{
    .footer__top{
      p{
        font-size: 0.9rem;
      }
      ul{
        li{
          a{
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}