<div class="container-fluid admin-layout" id="home" [ngClass]="{'sidebar-expand': toggle}">
  <div class="navbar">
    <!-- Nav-left  -->
    <ul class="navbar-nav nav-left">
      <li class="nav-item nav-item-barIcon">
        <a class="nav-link">
          <i class="fas fa-bars" (click)="handleToggleMenu()"></i>
        </a>
      </li>
      <li class="nav-item">
        <img src="../../../assets/images/logo.png" class="logo" alt="Panda-Logo">
        <span class="cinema-name">Pánda</span>
      </li>
    </ul>
    <!-- form input search -->
    <form action="" class="navbar-search">
      <input type="text" name="search" class="navbar-search-input" placeholder="Search...">
      <i class="fas fa-search"></i>
    </form>
    <!-- Nav-right -->
    <ul class="navbar-nav nav-right">
      <li class="nav-item dropdown">
        <a class="nav-link" href="">
          <i class="fas fa-bell"></i>
          <span class="navbar-badge">10</span>
        </a>
        <!-- <ul class="dropdown-menu notification-menu">
          <div class="dropdown-menu-header">
            <span>Notifications</span>
          </div>
          <div class="dropdown-menu-content overlay-scrollbar">
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-tasks"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-tasks"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-tasks"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-tasks"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-tasks"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-tasks"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
            <li class="dropdown-menu-item">
              <a href="" class="dropdown-menu-link">
                <div>
                  <i class="fas fa-gift"></i>
                </div>
                <span>Lorem ipsum dolor sit amet.
                  <br>
                  <span>
                    15/06/2021
                  </span>
                </span>

              </a>
            </li>
          </div>
          <div class="dropdown-menu-footer">
            <span>View all notifications</span>
          </div>
        </ul> -->
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <button class="dropdown-toggle" id="navbarScrollingDropdown" role="button" type="button" data-bs-toggle="dropdown"
          aria-expanded="true" ngbDropdownToggle>
          <img src="../../../assets/images/admin-avt.jpg" alt="User image">
        </button>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown" >
          <li ngbDropdownItem>
            <span class="dropdown-item">
              <i class="fas fa-user-tie"></i>
              <span>Profile</span>
            </span>
          </li>
          <li ngbDropdownItem>
            <span  class="dropdown-item">
              <i class="fas fa-cog"></i>
              <span>Settings</span>
            </span>
          </li>
          <li ngbDropdownItem>
            <span class="dropdown-item" (click)="adminLogout()">
              <i class="fa fa-sign-out"></i>
              <span>Log out</span>
            </span>
          </li>

          
        </ul>
      </li>
    </ul>
    
    <!-- <li class="nav-item dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" ngbDropdownToggle>
        Link
      </a>
      <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
        <li ngbDropdownItem><a class="dropdown-item" href="#">Action</a></li>
        <li ngbDropdownItem><a class="dropdown-item" href="#">Another action</a></li>
        <li ngbDropdownItem>
          <hr class="dropdown-divider">
        </li>
        <li ngbDropdownItem><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li> -->
  </div>

  <!-- Sidebar -->
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <!-- main content -->
  <div class="wrapper">
    <div class="content">
      <router-outlet></router-outlet>
      <footer>
        <div class="row justify-content-center">
          <div class="col-sm-10 col-md-5  mb-4">
            <div class="footer-left">
              <h3>ABOUT</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla magni nisi eos tempora placeat, quis qui ex harum at repellendus reiciendis quod eligendi enim fugit itaque unde vel officia laborum nam consequuntur similique eaque natus porro laboriosam. Sit dolorum sunt nesciunt similique aliquam, enim laborum illum labore rem placeat fugit pariatur, asperiores inventore! Asperiores, quo totam officia dicta sequi eligendi beatae pariatur vero necessitatibus quaerat, ipsum earum? Assumenda voluptatem, delectus dolor consectetur exercitationem soluta, repellendus, optio praesentium quas at inventore!</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="footer-right">
              <div class="row justify-content-center">
                <div class="col-sm-3 col-md-3 footer-item">
                  <p>Infomation</p>
                  <ul>
                    <li><span>Our Company</span></li>
                    <li><span>Partners</span></li>
                    <li><span>Pricing</span></li>
                    <li><span>Products</span></li>
                  </ul>
                </div>
                <div class="col-sm-3 col-md-3 footer-item">
                  <p>Application</p>
                  <ul>
                    <li><span>Download</span></li>
                    <li><span>Providers</span></li>
                    <li><span>How to used</span></li>
                  </ul>
                </div>
                <div class="col-sm-3 col-md-3 footer-item">
                  <p>Api</p>
                  <ul>
                    <li><span>Documentation</span></li>
                    <li><span>Credential</span></li>
                    <li><span>Developer into</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <hr style="height: 2px; color: white;">
        <div class="footer-bottom">
          <img src="./../../../assets/images/logo.png" height="50px" width="50px" alt="">
          <p>Công Ty Cổ Phần Phim <span>Pánda</span>, Tầng 3, Toàn Nhà SunHouse, 640 Phan Văn Trị, Phường 10, Quận Gò Vấp, Tp Hồ Chí Minh</p>
        </div>
      </footer>
    </div>
  </div>
</div>