.Hethongrap__container{
  h1{
    font-size: 2rem;
    font-weight: 700;
    margin: 30px 0 ;
  }
  h2{
    font-size: 1.4rem;
    font-weight: 600;
  }
  .logos__container{
    .logo-cumrap{
      cursor: pointer;
      img{
        padding-bottom: 5px;
        transition: transform 0.3s linear;
      }
      p{
        font-size: 0.8rem;
        font-weight: 700;
      }
      &:hover{
        img{
          transform: scale(1.1);
        }
      }
    } 
  }
  .CumRap__container{
    .DanhSachRap{
      display: flex;
      flex-direction: column;
      border-right: 1px solid gray;
      .rapPhim{
        border: none;
        background-color: transparent;
        &:focus-within{
          
          p{
            color: #a3270b;
            font-weight: 500;
            transform: scale(1.3);
          }
        }
      }
    }
    .DanhSachPhim{
      .phimCuaRap{
        // display: flex;
        // justify-content: space-around;
        margin-bottom: 10px;
        .phim-item{
          position: relative;
          transition: all 0.3s;
          button{
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &:hover{
            img{
              filter: brightness(40%);
            }
            button{
              display: block;
            }
          }
        }
      }
    }
    
  }
}

@media screen and (max-width: 576px) {
  h2{
    font-size: 1.2rem !important;
  }
  .logos__container{
    .logo-cumrap{
      display: flex;
      align-items: center;
      // justify-content: center;
      padding-left: 30%;
      p{
        margin-left: 10px;
      }
    }
  }
  .DanhSachRap{
    .rapPhim{
      p{
        font-size: 0.7rem;
      }
      &:focus-within{     
        p{        
          transform: none !important;
        }
      }
    }
    
  }
}