.row {
  &::after,
  &::before {
    box-sizing: border-box;
  }
  .col-item {
    padding: 10px;
    background-color: #191919;
    .row {
      .icon-item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        i{
          font-size: 30px;
        }
      }
      .detail-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:first-child {
          color: white;
          font-size: 25px;
        }
        span:last-child {
          color: red;
          font-size: 18px;
        }
        
      }
    }
  }
}
