.row {
  &::after,
  &::before {
    box-sizing: border-box;
  }
  .col-item {
    padding: 10px;
    margin: 10px;
    background-color: #191919;
    .row {
      .icon-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          color: white;
          font-size: 20px;
          font-weight: 700;
        }
        i{
          font-size: 35px;
          
        }
      }
      .detail-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:first-child {
          color: white;
          font-size: 15px;
          font-weight: 600;
        }
        span:last-child {
          color: red;
          font-size: 10px;
        }
        
      }
    }
  }
}


.rated-movies-item{
  padding: 5px;
}

.comment-content{
  background-color: #191919;
  p{
   padding: 20px; 
   font-weight: 600; 
   font-size: 25px; 
   color: white;
  }
  div{
    table{
      width: 100%; 
      text-align: center; 
      thead{
        color: #e20e02;
      }
      tbody{
        color: white;
        tr{
          background-color:#141414; 
          border-bottom: 10px solid #191919;
          td{
            padding: 10px 2px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1199px) {
  .card {
    width: 100%;
  }
  .bar-chart-container{
    padding: 0;
    .chart-wrapper{
      canvas{
        min-height: auto !important;
      }
    }
  }
  
}

@media screen and (max-width: 992px) {
  .card {
    width: 90%;
    margin: auto;
    img{
      height: 280px !important;
    }
  }
}


@media screen and (max-width: 767px) {
  .card {
    width: 80%;
    margin: auto;
    img{
      height: 300px !important;
    }
  }
  .top-grossing{
    padding: 5px 0px 0px 5px !important;
    font-size: 20px !important;
  }
  
}



@media screen and (max-width: 550px) {
  .pie-chart{
    width: 280px;
    height: 280px;
  }

  .bar-chart{
    width: 1000px;
    height: 350px;
  }
  
}
