header {
  position: fixed;
  top: 0;

  width: 100%;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .header__left {
    display: flex;
    align-items: center;
    text-decoration: none;
    span {
      color: #a3270b;
      font-size: 2rem;
    }
  }
  nav {
    .collapse {
      .navbar-nav {
        li {
          display: flex;
          align-items: center;
          a {
            text-transform: uppercase;
            font-weight: 700;
            &:hover {
              color: #c0392b;
            }
          }
        }
      }
    }
  }

  // Không dùng thằng này nữa
  .search__container {
    // &:hover {
    //   .search__input {
    //     padding: 0 10px;
    //     width: 170px;
    //     caret-color: red;
    //     transition: width 0.4s linear;
    //   }
    //   .search__icon {
    //     background: white;
    //     color: #e74c3c;
    //   }
    // }
    display: flex;
    align-items: center;
    margin-left: 50px;
    .search__input {
      color: white;
      border: none;
      outline: 1;
      background: none;
      padding: 0 10px;
      width: 220px;
      caret-color: red;
      // line-height: 40px;
      transition: width 0.4s linear;
      &::-webkit-search-cancel-button{
        display: none;
      }
      
    }
  
    .search__icon {
      border: none;
      height: 45px;
      width: 45px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: white;
      color: red;
      text-decoration: none;
      transition: all 0.4s linear;
      &:hover {
        background: red;
        color: white;
      }
    }
  }

  // Đang dùng thằng này
  .search-container{
    position: relative;
    display: flex;
    align-items: center;
    input{
      width: 300px;
      padding: 10px;
      outline: none;
      border-radius: 20px;
      border: none;
      &::-webkit-calendar-picker-indicator{
        display: none !important;
      }
      
    }
    button{
      border: none;
      background-color: transparent;
      position: absolute;
      right: 0px;
      top: 25%px;
     
    }
  }

  .header__right {
    .account-user,
    span {
      color: white;
      border: none;
      font-size: 1rem;
      font-weight: 500;
      background-color: transparent;
      transition: all 0.3s;
      &:hover {
        color: #c0392b;
      }
    }
    .btn {
      color: #ffffff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      display: inline-flex;
      position: relative;
      align-items: center;
      border: none;
      &:hover {
        color: #c0392b;
      }
    }
    .dropdown-menu {
      min-width: 2rem;
      cursor: pointer;
    }
  }
}



@media screen and (max-width: 992px) {
  // .search__container {
  //   position: absolute;
  //   top: 10px;
  //   right: 35%;
  //   .search__input {
  //     width: 300px !important;
  //   }
  // }
  .logo__temp{
    position: absolute;
    top: 5px;
    right: 45%;
  }
  
  .header__right {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .collapse{
    ul{
      padding-left: 5px;
      .search__container{
        margin-left: 0 !important;
      }
    }
    
  }
  
}

@media screen and (max-width: 700px) {
  // .search__container {
  //   position: absolute;
  //   top: 10px;
  //   right: 35%;
  //   .search__input {
  //     width: 250px !important;
  //   }
  // }
}

@media screen and (max-width: 576px) {
  // .search__container {
  //   position: absolute;
  //   top: 10px;
  //   right: 35%;
  //   .search__input {
  //     width: 150px !important;
  //   }
  // }
  .header__right {
    .btn {
      font-size: 10px !important;
    }
  }
}

@media screen and (min-width: 1100px) {
.search-container{
  input{
    margin-left: 200px;
  }
}
}
