<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="header__left" href="#">
      <!-- <a href="#" class="logo">
        <i class='bx bx-movie-play bx-tada main-color' style="font-size: 50px;"></i>
      </a> -->
      
        <img src="../../../assets/images/logo.png" alt="panda_logo" width="75" height="70">
        <span>Pánda</span>
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#DanhSachPhim">DANH SÁCH PHIM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#CumRap">CỤM RẠP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TIN TỨC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ỨNG DỤNG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LIÊN HỆ</a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dangky']" routerLinkActive="router-link-active" >Đăng ký(Page)</a>
      </li> -->
    </ul>
    <div class="header__right">
      <div class="dropdown" *ngIf="hoTenUser">

        <button class="account-user" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
          {{hoTenUser}}
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-right">
          <li><a class="dropdown-item">Profile</a></li>
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <!-- <span class="user__name"  *ngIf="hoTenUser">{{hoTenUser}}</span> -->
      <div *ngIf="!hoTenUser">
        <button #btnLogin class="btn" name="Login" (click)="openVerticallyCentered(content, btnLogin)">Đăng
          nhập</button>
        <button #btnSignUp class="btn" name="SignUp" (click)="openVerticallyCentered(content,btnSignUp)">Đăng
          ký</button>
      </div>

    </div>
  </div>
</nav>


<!-- MODAL hiển thị loginForm và SignUpForm -->
<ng-template #content let-modal class="modal__form">
  <!-- <div class="modal-header">
    <h4 class="modal-title">{{clickedButtonName}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <!-- <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div> -->

  <app-trang-dang-nhap *ngIf='clickedButtonName=="Login"' (loginStatus)="getNameFromDangNhap($event)">
  </app-trang-dang-nhap>
  <app-trang-dang-ky *ngIf='clickedButtonName=="SignUp"'></app-trang-dang-ky>



</ng-template>