<header class="bg-dark">
  
  <a class="header__left d-none d-lg-block" href="#">
    <div class="d-flex align-items-center">
      <img src="../../../assets/images/logo.png" alt="panda_logo" width="75" height="60">
      <span>Pánda</span>
    </div>
  </a>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item pt-1">
          <a class="nav-link" href="#DanhSachPhim">PHIM</a>
        </li>
        <li class="nav-item pt-1">
          <a class="nav-link" href="#CumRap">CỤM RẠP</a>
        </li>
        <li class="nav-item pt-1">
          <a class="nav-link" href="#">TIN TỨC</a>
        </li>
        <li class="nav-item pt-1">
          <a class="nav-link" href="#">ỨNG DỤNG</a>
        </li>
        <li class="nav-item">
          <div class="search__container ml-4">
            <div class="row align-items-center">
              <div class="col-10">
                <input #search list="movielist" class="search__input" type="text" name="" placeholder="Tìm phim theo tên...">
                <datalist id="movielist">
                    <div *ngFor="let phim of danhSachPhim">
                      <option>{{phim.tenPhim}}</option>
                    </div>
                </datalist>
              </div>
              <div class="col-2">
                <button class="search__icon"  (click)="handleSearch(search)"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dangky']" routerLinkActive="router-link-active" >Đăng ký(Page)</a>
        </li> -->
      </ul>
    </div>
  </nav>

  <!-- <div class="search__container">
    <div class="row">
      <div class="col-10">
        <input #search list="movielist" class="search__input" type="text" name="" placeholder="Tìm phim theo tên...">
        <datalist id="movielist">
            <div *ngFor="let phim of danhSachPhim">
              <option>{{phim.tenPhim}}</option>
            </div>
        </datalist>
      </div>
      <div class="col-2">
        <button class="search__icon"  (click)="handleSearch(search)"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div> -->
  <a href="#" class="logo__temp d-md-block d-lg-none">
    <img src="../../../assets/images/logo.png" width="75" height="60" alt="">
  </a>
  

  <div class="header__right">
    <!-- Lưu ý chỗ menu Dropdown này nhớ thêm như bên dưới để hiển thị menu sang bên trái cho đẹp -->
    <div ngbDropdown display="dynamic" placement="bottom-right" *ngIf="hoTenUser">
      <button class="account-user" type="button" id="dropdownMenuButton" ngbDropdownToggle>
        {{hoTenUser}}
      </button>
      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dropdown-menu" >
        <li><a ngbDropdownItem name="Profile" #profile (click)="openVerticallyCentered(content, profile)">Thông tin cá
            nhân</a></li>
        <li><a ngbDropdownItem (click)="logout()">Đăng xuất</a></li>
      </ul>
    </div>
    <div *ngIf="!hoTenUser">
      <button #btnLogin class="btn" name="Login" (click)="openVerticallyCentered(content, btnLogin)">Đăng
        nhập</button>
      <button #btnSignUp class="btn" name="SignUp" (click)="openVerticallyCentered(content,btnSignUp)">Đăng
        ký</button>
    </div>
  </div>

  <!-- Dropdow mẫu của Angular -->
  <!-- <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownMenuButton" ngbDropdownToggle>Dropdown button</button>
    <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
      <button ngbDropdownItem>Action</button>
      <button ngbDropdownItem>Another Action</button>
      <button ngbDropdownItem>Something else here</button>
    </div>
  </div> -->


</header>

<!-- MODAL hiển thị loginForm và SignUpForm -->
<ng-template #content let-modal class="modal__form">

  <app-trang-dang-nhap *ngIf='clickedTagName=="Login"' (loginStatus)="getNameFromDangNhap($event)">
  </app-trang-dang-nhap>
  <app-profile (formCancel)="nhanLenhCloseModal($event)" *ngIf='clickedTagName=="Profile"'></app-profile>
  <app-trang-dang-ky (closeStatus)="nhanLenhCloseModal($event)"  *ngIf='clickedTagName=="SignUp"'></app-trang-dang-ky>



</ng-template>