<div class="container mx-auto bg-warning p-4">
  <div class="text-left">
    <p class="lead text-left">Số ghế đã chọn: <span class="font-weight-bold">{{soGheDaChon}}</span></p>
    <p class="lead text-left">Số ghế còn trống: <span class="font-weight-bold">{{soGheConTrong}}</span></p>
  </div>


  <div class="row">
    <h1 class="text-center">Screen</h1>
    <div class="col-11 bg-success mx-auto">
      <div class="row">
        <div class="col-1 my-2" *ngFor="let ghe of gheArray">
          <app-ghe-item (emitStatus)="nhanStatusFromGheItem($event, ghe)" [itemGhe]="ghe"></app-ghe-item>
        </div>
      </div>


      <!-- <p *ngFor="let gheDuocChon of MangGheDangChon">
        <span>Tên Ghế: {{gheDuocChon.tenGhe}}</span>
        <span>Giá: {{gheDuocChon.giaVe}}</span>
      </p> -->
    </div>

    <div class="col-5 ghichu d-flex justify-content-around">
      <span>Còn trống: <button class="btn btn-secondary" disabled></button></span>
      <span>Đã đặt: <button class="btn btn-danger" disabled></button></span>
      <span>Đang đặt: <button class="btn btn-primary" disabled></button></span>
    </div>
    <div class="text-center">
      <button class="btn btn-success" (click)="handlePay(bill)">Thanh toán</button>
    </div>


  </div>
</div>


<ng-template #bill let-modal class="modal__form">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hóa đơn xác nhận thanh toán</h4>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col-6">
        <p style="font-size: larger; font-weight: 500;">Ghế đã chọn :</p>
      </div>
      <div class="col-6">
        <p style="font-size: larger; font-weight: 500;">Giá tiền :</p>
      </div>
    </div>

    <hr>

    <div class="row " *ngFor="let gheDaChon of MangGheDaChon">
      <div class="col-6 d-flex justify-content-end">
        <p class="text-left">{{gheDaChon.tenGhe}}</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <p class="text-left">{{gheDaChon.giaVe}}</p>
      </div>
    </div>

    <hr>

    <div class="row ">
      <p class="text-left">Tổng số tiền: {{totalCost}}</p>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="confirmPayment()" >Xác nhận</button>
    <button type="button" class="btn btn-danger"
      (click)="modal.close('Ok click')">Hủy</button>
  </div>



</ng-template>