<div class="container login__container">
  <div class="col-lg-12 login-title pt-1">
    <img src="../../../assets/images/logo.png" width="70" height="70" alt="">
    <span>Pánda</span> 
  </div>
  <div class="row">
    <div class="col-6 login-form">
      <form [formGroup]="formDangNhap" (ngSubmit)="Login()">
        <div class="form-group my-2">
          <label for="">Tài khoản</label>
          <input type="text" class="form-control" formControlName="TaiKhoan">
          <!-- <div *ngIf="formDangNhap.controls['TaiKhoan'].invalid && formDangNhap.controls['TaiKhoan'].touched">
              <div *ngIf="formDangNhap.controls['TaiKhoan'].errors?.required" class="alert alert-danger">Vui lòng nhập
                tàikhoản
              </div>
              <div *ngIf="formDangNhap.controls['TaiKhoan'].errors?.pattern" class="alert alert-danger">Tài khoản không
                đúng
              </div>
            </div> -->
        </div>

        <div class="form-group my-2">
          <label for="">Mật khẩu</label>
          <input type="password" class="form-control" formControlName="MatKhau">
          <!-- <div *ngIf="formDangNhap.controls['MatKhau'].invalid && formDangNhap.controls['MatKhau'].touched">
              <div *ngIf="formDangNhap.controls['MatKhau'].errors?.required" class="alert alert-danger">Vui lòng mật
                khẩu
              </div>
            </div>
            <div *ngIf="formDangNhap.controls['MatKhau'].errors?.minlength" class="alert alert-danger">
              Mật khẩu ít nhất phải 5 kí tự
            </div> -->
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-outline-primary">Đăng nhập</button>
        </div>
      </form>
    </div>

    <div class="col-6 form-right">
      <div class="right">
        <div class="connect">Connect with</div>
        <a href="" class="facebook">
    <!--       <span class="fontawesome-facebook"></span> -->
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a> <br />
        <a href="" class="twitter">
    <!--       <span class="fontawesome-twitter"></span> -->
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a> <br />
        <a href="" class="google-plus">
    <!--       <span class="fontawesome-google-plus"></span> -->
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</div>