
  <owl-carousel-o [options]="owlOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/images/black-banner.png" width="100%" alt="Content 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/images/supergirl-banner.jpg" width="100%" alt="Content 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/images/wanda-banner.jpg" width="100%" alt="Content 1">
      </div>
    </ng-template>
  </owl-carousel-o>
