<div style="margin-top: 60px;">
  <owl-carousel-o [options]="owlOptions">
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/images/slider1__banner.jpg" width="100%" alt="Content 1">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/images/slider2__banner.jpg" width="100%" alt="Content 2">
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide">
        <img src="../../../assets/images/slider3__banner.jpg" width="100%" alt="Content 3">
      </div>
    </ng-template>
  </owl-carousel-o>
</div>